html,body{
background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTB8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 85%;
font-family: 'Numans', sans-serif;
}
.right {
    text-align: right;
    float: right;
}

html {
  box-sizing: border-box;
}


